<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <script type='text/javascript'>

        function addFields(){
            // Number of inputs to create
            var number = document.getElementById("socios").value;
            var form = document.getElementById("dinamic");

            // Elimina los campos de socio anteriores
            var anteriores = document.querySelectorAll('[id^="fila_socio"]');
            for (j=0;j<anteriores.length;j++){
                anteriores[j].remove();
            }


            for (i=0;i<number;i++){

                var documentFragment = document.createDocumentFragment();

                if (i<1) {

                    var header = document.createElement("div");
                    header.className = "form-row"
                    header.id = "fila_socio"+String(i);
                    header.name = "fila_socio"+String(i);
                    documentFragment.appendChild(header);

                    var titulo = document.createElement("label");
                    titulo.textContent = "Completar los datos de " + number + " socio/s (La suma de los porcentajes debe ser igual a 100)";

                    header.appendChild(titulo);
                    header.appendChild(document.createElement("br"));
                    header.appendChild(document.createElement("br"));

                }

                var fila = document.createElement("div");
                fila.className = "form-row"
                fila.id = "fila_socio"+String(i);
                fila.name = "fila_socio"+String(i);

                documentFragment.appendChild(fila);

                // Crear inputs para el socio
                var label = document.createElement("label");

                if (i<1) {
                    label.textContent = "Datos del Socio Representante";
                } else label.textContent = "Datos del Socio " + (parseInt(i)+1).toString();

                var input = document.createElement("input");
                input.type = "text";
                input.name = "nombre_socio"+String(i);
                input.placeholder = "Nombre del Socio ";
                input.id = "nombre_socio"+String(i);
                input.required = true;
                input.className = "form-control";


                var input2 = document.createElement("input");
                input2.type = "text";
                input2.name = "apellido_socio"+String(i);
                input2.placeholder = "Apellido del Socio ";
                input2.id = "apellido_socio"+String(i);
                input2.required = true;
                input2.className = "form-control";


                var input3 = document.createElement("input");
                input3.type = "number";
                input3.name = "porcentaje_socio"+String(i);
                input3.placeholder = "Porcentaje del Socio ";
                input3.id = "porcentaje_socio"+String(i);
                input3.required = true;
                input3.className = "form-control";


                linebreak = document.createElement("br");
                linebreak.id = "fila_socio"+String(i);

                fila.appendChild(label);
                fila.appendChild(input);
                fila.appendChild(input2);
                fila.appendChild(input3);

                form.appendChild(documentFragment);
                form.appendChild(linebreak);

            }
            submit = document.createElement("button");
            submit.type = "submit";
            submit.className = "btn btn-primary";
            submit.style = "float:right";
            submit.textContent = "Registrar Sociedad";
            submit.id = "fila_socio";
            form.appendChild(submit);
        }
    </script>

</head>

<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h2>DSSD 2021 - Grupo 14</h2>
            </div>
            <br>
             <div class="row align-items-center justify-content-center">
                <h3>Registrar Sociedad Anónima</h3>
            </div>

            <br>

            <form id="dinamic" method="POST">

                <div class="form-row">
                    <label for="nombre">Nombre</label>
                    <input required class="form-control" type="text" placeholder="Nombre de la sociedad" id="nombre" name="nombre">
                </div>
                <br>
                <div class="form-row">
                    <label for="socios">Indicar cantidad de socios</label>
                    <input required min="1" oninput="addFields()" class="form-control" type="number" placeholder="Socios" id="socios" name="socios">
                </div>
                <br>
                <div class="form-row">
                    <label for="domicilio_real">Domicilio real</label>
                    <input required class="form-control" type="text" placeholder="Domicilio real" id="domicilio_real" name="domicilio_real">
                </div>
                <br>
                   <div class="form-row">
                    <label for="domicilio_real">Domicilio legal</label>
                    <input class="form-control" type="text" placeholder="Domicilio legal" id="domicilio_legal" name="domicilio_legal">
                </div>
                <br>
                  <div class="form-row">
                    <label for="correo">Correo electrónico</label>
                    <input required class="form-control" type="email" placeholder="Correo electrónico del representante" id="correo" name="correo">
                  </div>
                <br>
                <div class="form-row ">
                    <label for="fecha_creacion">Creación</label>
                    <input required class="form-control " type="date" placeholder="Fecha de creación" id="fecha_creacion" name="fecha_creacion">
                </div>
                <br>
                <div class="form-row ">
                    <label for="estatuto">Adjuntar Estatuto (en formato .docx .odt o .pdf)</label>
                    <input class="form-control" type="file" accept=".docx,.odt,.pdf" id="estatuto" name="estatuto">
                </div>


                <br>


            </form>
            <br><br>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
</body>

</html>