<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociedades anonimas | Home</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style_layout.css') }}">
</head>
<body>
    <div class="login">
        <div class="login-screen">
             <div class="app-title">
                 <h1>Bienvenido!</h1>
             </br>
             </div>
             <a class="btn btn-primary" href="#">Gestionar Solicitudes</a>
        </div>
    </div>
</body>
</html>