<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociedades Anonimas | Login</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style_layout.css') }}">
</head>
<body>
    <div class="login">
        <div class="login-screen">
             <div class="app-title">
                 <h1>Login</h1>
             </div>
             <div class="login-form">
                <form action="#" method="POST">
                    <div class="control-group">
                        <input type="text" name="username" placeholder="Ingrese username">
                    </div>
                    <div class="control-group">
                        <input type="password" name="pass" placeholder="Ingrese password">
                    </div>
                    <input type="submit" class="btn btn-primary btn-large btn-block" value= "Iniciar sesion">
                </form>
            </div>
        </div>
    </div>
</body>
</html>