<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style_filterbox.css') }}">
</head>
<body>
    <div style="text-align: center;">
        <h1>INFORMACION PUBLICA</h1>
        <h1><strong>{{soc.nombre}}</strong></h1>
        <p><strong>Fecha creacion: </strong>{{soc.fecha_creacion}}</p>
        <p><strong>Socios: </strong><p>
        {%for socio in socios%}
        <li>{{socio.nombre}} {{socio.apellido}} {{socio.porcentaje}}%</li>
        {%endfor%}    
        <p><strong>QR sociedad:</strong></p>
        <img src="{{ url_for ('static', filename=soc.qr) }}" alt="QR">    
    </div>
</body>
</html>